@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

.navbar{
    background: #2e2d2d;
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
}

.navbar ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar ul li {
    margin: 0 4vw;
    list-style-type: none;
    text-transform: uppercase;
    padding: 1vw;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 196, 0);
    text-shadow:    0.5px 0px 0px rgb(179, 108, 1),
                    1px 0px 0px rgb(0, 0, 0);
}

.navbar ul li a:hover{
    color: crimson;
}

