
.foot{
    background: #1d1c1c;
    
}

.foot ul {
    display: flex;
    justify-content: space-around;
}

.foot ul li{
    list-style-type: none;
}

.links{
    color: #fff;
    padding: 20px;
}

.links a{
    text-decoration: none;
    color: rgb(255, 196, 0);
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow:    0.5px 0px 0px rgb(179, 108, 1),
                    1px 0px 0px rgb(0, 0, 0);
}

.links a:hover{
    color: crimson;
}
